*{
    
    box-sizing: border-box;
    outline:none;
    font-family:sans-serif;
    
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background:linear-gradient(to right,grey,rgb(173, 91, 91));
}
.container{
    padding: 20px;
    margin:10px;
    background-color: gainsboro;
    border-radius: 30px;
    text-align: center;
    
    width:600px;
}
h1{
    font-size:40px;
    color:rgba(54, 4, 217, 0.792);
    letter-spacing: 1.2px;
}
h3,h2{
    font-size: 18px;
    letter-spacing: 1.1px;;
}
img{
    border-radius: 50%;
    margin:10px;
}
#details p{
    /*text-align: center;*/
    padding:20px;
    margin:10px;
    font-size: 14px;
    color:rgba(4, 42, 76, 0.821);
    letter-spacing: 2px;
}
#quote{
    text-align: left;
    padding:20px;
    margin:10px;
    font-size: 14px;
    color:rgba(4, 42, 76, 0.821);
    letter-spacing: 2px;
}
li{
    margin:10px;
    letter-spacing: 2px;
}
